<%= render "devise/shared/error_messages", resource: resource %>

<div class="app-auth-body mx-auto">	
	<div class="app-auth-branding mb-4">
		<a class="app-logo" href="<%= root_path %>">
			<%= image_pack_tag "media/images/read-book-white.svg", class: "logo-icon me-2" %>
		</a>
	</div>

	<h2 class="auth-heading text-center mb-4">Editar Informações</h2>					

		<div class="auth-form-container text-start mx-auto">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "auth-form auth-signup-form", html: { method: :put }) do |f| %>
				<div class="mb-3">
					<%= f.label :name, class: "sr-only" %>
					<%= f.text_field :name, class: "form-control", placeholder: true, require: true %>
				</div>

				<div class="mb-3">
					<%= f.label :email, class: "sr-only" %>
					<%= f.email_field :email, class: "form-control", placeholder: true, require: true %>
				</div>

				<div class="mb-3">
          <div id="passwordhelp" class="form-text">Deixe em branco se você não deseja atualizar sua senha</div>
					<%= f.label :password, class: "sr-only" %>
					<%= f.password_field :password, class: "form-control", placeholder: true, require: true %>
					<% if @minimum_password_length %>
						<div id="passwordhelp" class="form-text">A senha deve conter no mínimo <%= @minimum_password_length %> caracteres.</div>
					<% end %>
				</div>

				<div class="mb-3">
					<%= f.label :password_confirmation, class: "sr-only" %>
					<%= f.password_field :password_confirmation, class: "form-control", placeholder: true, require: true %>
				</div>

        <div class="mb-3">
					<%= f.label :current_password, class: "sr-only" %>
					<%= f.password_field :current_password, class: "form-control", placeholder: true, require: true %>
          <div id="passwordhelp" class="form-text">É necessário confirmar a senha atual</div>
				</div>
					
				<div class="text-center">
					<%= f.submit "Atualizaar cadastro", class: "btn app-btn-primary w-100 theme-btn mx-auto" %>
				</div>
			<% end %><!--//auth-form-->
	</div><!--//auth-form-container-->					    
</div>
