<div class="row g-3 mb-4 align-items-center justify-content-between">
  <div class="col-auto">
    <h1 class="app-page-title mb-0">Livros</h1>
  </div><!--//col-auto-->
</div>

<%= render 'books/index_option' %>
<%= render 'books/filters' %>
<%= render 'books/order' %>
<%= render 'books/nav_bar' %>

<div class="tab-content" id="orders-table-tab-content">
  <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
    <div class="app-card app-card-orders-table shadow-sm mb-5">
      <div class="app-card-body">
        <div class="table-responsive">
          <table class="table app-table-hover mb-0 text-left">
            <thead>
              <tr>
                <th class="cell">Título</th>
                <th class="cell">Autor</th>
                <th class="cell">Nº Páginas</th>
                <th class="cell">Adicionado em</th>
                <% if current_user.admin? %>
                  <th class="cell">Status</th>
                <% end %>
                <th class="cell"></th>
              </tr>
            </thead>
            <tbody id="books-tbody">
              <%= render @books %>
          </table>
        </div><!--//table-responsive-->
      </div><!--//app-card-body-->		
    </div><!--//app-card-->    
    
    <%= render 'layouts/shared/kaminari_infos', list: @books %>
  </div><!--//tab-pane-->
</div>
