<!DOCTYPE html>
<html>
  <head>
    <title>FavoriteBooks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Warning !! ensure that "stylesheet_pack_tag" is used, line below -->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="app">
    <%= render partial: "layouts/shared/header" %>

    <div class="app-wrapper">
      <div class="app-content pt-3 p-md-3 p-lg-4">
          <div class="container-xl">
            <%= render "layouts/shared/alerts" %>			    
            <%= content_for?(:content) ? yield(:content) : yield %>
          </div><!--//container-fluid-->
      </div><!--//app-content-->  

      <%= render partial: "layouts/shared/footer" %>  
    </div><!--//app-wrapper-->  
  </body>
</html>
